@font-face {
  font-family: 'regular';
  src: url('misc/KodeMono-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: 'regular', monospace;
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameDiv {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #131313;
  border-bottom: none;
}

#gameCanvas {
  display: block;
  margin: auto;
  background-image: url("misc/bg.jpeg");
  background-size: 100% 100%;
}

#overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#leftOverlay {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: red;
}

#slows {
  font-size: 20px;
  color: yellow;
}

#rightOverlay {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 20px;
}

#time {
  color: white;
  font-size: 20px;
}

#score {
  color: orange;
  font-size: 30px;
}

#combo {
  color: #ff6666;
  display: none;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#resultDiv {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 1px solid #333;
  padding: 20px;
}

.info-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  color: #ffffff;
}

.divider {
  margin: 10px;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}

.result-value {
  position: relative;
  font-size: 40px;
  font-weight: bold;
}

.result-value .result-hover {
  display: none;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  background-color: #333333;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  border: 1px solid #ffffff;
  width: 480px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.result-value:hover .result-hover {
  display: block;
}

#currentRank {
  color: yellow;
}

#language {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#instructions tr td {
  padding: 5px;
}

div.stats {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  border: 1px solid #888;
  display: none;
  position: relative;
}

div.stats-hit, div.stats-miss {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

div.stats-hit {
}

div.multiplier-1 {
      background-color: rgb(255, 255, 255);
}

div.multiplier-2 {
      background-color: rgb(255, 120, 4);
}

div.multiplier-3 {
      background-color: rgb(4, 217, 255);
}

div.multiplier-4 {
      background-color: rgb(255, 16, 240);
}

div.multiplier-5 {
      background-color: rgb(116, 255, 21);
}

div.stats-miss {
  background-color: #a00;
}
