@font-face {
  font-family: 'regular';
  src: url('misc/KodeMono-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: 'regular', monospace;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameDiv {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: none;
}

#gameCanvas {
  display: block;
  margin: auto;
  background-image: url("misc/bg.jpeg");
  background-size: 100% 100%;
  box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5);
  border-radius: 20px;
}

#overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#leftOverlay {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: red;
}

#slows {
  font-size: 20px;
  color: yellow;
}

#rightOverlay {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 20px;
}

#time {
  color: white;
  font-size: 20px;
}

#score {
  color: orange;
  font-size: 30px;
}

#combo {
  color: #ff6666;
  display: none;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#resultDiv {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  border: 1px solid #333;
  box-shadow: 0 0 5px 0 rgba(120, 120, 120, 0.5);
  padding: 20px;
}

.info-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  color: #ffffff;
}

.divider {
  margin: 10px;
  height: 1px;
  background-color: #444;
}

.result-value {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.result-value > .result-value-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.result-value > .result-value-content > .result-hover {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0px;
}

.result-value > .result-value-content:hover > .result-hover {
  opacity: 1;
  padding: 5px;
  border-radius: 5px;
  background-color: #222;
  box-shadow: 0 0 5px 0 rgba(20, 20, 20, 0.5);
  position: absolute;
  transform: translateY(-80px);
  width: auto;
  height: auto;
  font-size: 20px;
}

.td-info {
  color: #444;
}

td.big-value {
  font-size: 30px;
}

#currentRank {
  color: yellow;
}

#language {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#instructions tr td {
  padding: 5px;
}

div.stats-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

div.stats {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  display: block;
  position: relative;
}

div.stats-hit, div.stats-miss {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 30%;
  opacity: 0.35;
  transition: all 0.2s;
  font-size: 0;
}

#bubble1, #bubble2 {
  display: none;
  font-size: 20px;
  color: #aaa;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  margin: 5px;
}

div.stats-hit > .bubble-content, div.stats-miss > .bubble-content {
  border-radius: 0.5px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: none;
  font-size: 0;
  font-weight: bold;
  height: 0;
  opacity: 1;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 0;
}

div.stats-hit:hover, div.stats-miss:hover {
  z-index: 9999999 !important;
  opacity: 1;
  transform: scale(2);
  transition: all 0.2s;
}

div.stats-hit:hover > .bubble-content, div.stats-miss:hover > .bubble-content {
  width: 12px;
  height: 7px;
  font-size: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px) scale(3);
  transition: all 0.2s;
  z-index: 9999999 !important;
}

div.stats-miss:hover > .bubble-content {
  background-color: #f00;
}

div.stats-hit {
}

div.multiplier-1 {
      background-color: rgb(200, 200, 200);
}

div.multiplier-2 {
      background-color: rgb(255, 255, 4);
}

div.multiplier-3 {
      background-color: rgb(4, 217, 255);
}

div.multiplier-4 {
      background-color: rgb(255, 16, 240);
}

div.multiplier-5 {
      background-color: rgb(116, 255, 21);
}

div.stats-miss {
  background-color: #a00 !important;
}

#stats1:after {
  content: "WPM";
  position: absolute;
  bottom: 0;
  right: 0;
  color: #888;
  font-size: 20px;
  padding: 0px;
  margin-right: 4px;
  font-weight: bold;
}

#stats2:after {
  content: "SCORE";
  position: absolute;
  bottom: 0;
  right: 0;
  color: #888;
  font-size: 20px;
  padding: 0px;
  margin-right: 4px;
  font-weight: bold;
}

div.stats-graph-line {
  position: absolute;
  text-align: end;
  margin-right: 10px;
  margin-left: 10px;
  right: 0;
  height: 20px;
  width: calc(100% - 20px);
  color: #888;
  font-size: 10px;
  border-bottom: 1px solid #333;
  z-index: -1;
}

.info-table {
  width: 100wv;
  text-align: center;
}

.info-table > tr {
  text-align: center;
  width: 100wv;
  border: 1px solid #333;
  padding: 5px;
}

.info-table > tr > td {
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
}

.info-table > tr > th {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
}

.info-table > tr:last-child > td {
  border-radius: 0px 0px 5px 5px;
}

.info-info {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

#initialInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
