@font-face {
  font-family: 'regular';
  src: url('misc/KodeMono-VariableFont_wght.ttf') format('truetype');
}

* {
  font-family: 'regular', monospace;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */

}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameDiv {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: none;
}

#gameCanvas {
  display: block;
  margin: auto;
  background-image: url("misc/bg.jpeg");
  background-size: 100% 100%;
  box-shadow: 0 0 5px 0 rgba(40, 40, 40, 0.5);
  border-radius: 20px;
}

#overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#leftOverlay {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: red;
}

#slows {
  font-size: 20px;
  color: yellow;
}

#rightOverlay {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 20px;
}

#time {
  color: white;
  font-size: 20px;
}

#score {
  color: orange;
  font-size: 30px;
}

#combo {
  color: #ff6666;
  display: none;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#resultDiv {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 10, 10, 1.0);
  border-radius: 10px;
  box-shadow: 0 0 100px 0 rgba(100, 100, 100, 0.25);
  padding: 20px;
}

.info-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  color: #ffffff;
}

.divider {
  margin: 10px;
  height: 1px;
  background-color: #222;
}

.result-value {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#lastScore>.result-value>.result-value-content {
  font-size: 80px;
}

.result-value>.result-value-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.result-value>.result-value-content>.result-hover {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0px;
}

.result-value>.result-value-content:hover>.result-hover {
  opacity: 1;
  padding: 5px;
  border-radius: 5px;
  background-color: #222;
  box-shadow: 0 0 5px 0 rgba(20, 20, 20, 0.5);
  text-shadow: 0 0 2px rgba(20, 20, 20, 0.8);
  position: absolute;
  transform: translateY(-80px);
  width: auto;
  height: auto;
  font-size: 20px;
}

.td-info {
  color: #444;
}

td.big-value {
  font-size: 30px;
}

#currentRank {
  color: yellow;
}

#language {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

div.stats-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

div.stats {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  display: block;
  position: relative;
}

div.stats-hit,
div.stats-miss {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 30%;
  opacity: 0.35;
  transition: all 0.2s;
  font-size: 0;
}

#bubble1,
#bubble2 {
  display: none;
  font-size: 0;
  color: transparent;
}

div.stats-hit>.bubble-content,
div.stats-miss>.bubble-content {
  border-radius: 0.5px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: none;
  font-size: 0;
  font-weight: bold;
  height: 0;
  opacity: 1;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 0;
}

div.stats-hit:hover,
div.stats-miss:hover {
  z-index: 9999999 !important;
  opacity: 1;
  transform: scale(2);
  transition: all 0.2s;
}

div.stats-hit:hover>.bubble-content,
div.stats-miss:hover>.bubble-content {
  width: 12px;
  height: 7px;
  font-size: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px) scale(3);
  transition: all 0.2s;
  z-index: 9999999 !important;
}

div.stats-miss:hover>.bubble-content {
  background-color: #f00;
}

div.stats-hit {}

div.multiplier-1 {
  background-color: rgb(200, 200, 200);
}

div.multiplier-2 {
  background-color: rgb(255, 255, 4);
}

div.multiplier-3 {
  background-color: rgb(4, 217, 255);
}

div.multiplier-4 {
  background-color: rgb(255, 16, 240);
}

div.multiplier-5 {
  background-color: rgb(116, 255, 21);
}

div.stats-miss {
  background-color: #a00 !important;
}

#stats1:after {
  content: "WPM";
  position: absolute;
  bottom: 0;
  right: 0;
  color: #888;
  font-size: 16px;
  padding: 0px;
  margin-right: 4px;
}

#stats2:after {
  content: "SCORE";
  position: absolute;
  bottom: 0;
  right: 0;
  color: #888;
  font-size: 16px;
  padding: 0px;
  margin-right: 4px;
}

div.stats-graph-line {
  position: absolute;
  text-align: end;
  margin-right: 10px;
  margin-left: 10px;
  right: 0;
  height: 20px;
  width: calc(100% - 20px);
  color: #888;
  font-size: 10px;
  border-bottom: 1px solid #333;
  z-index: -1;
}

.info-table {
  width: 100wv;
  text-align: center;
}

.info-table>tr {
  text-align: center;
  width: 100wv;
  border: 1px solid #333;
  padding: 5px;
}

.info-table>tr>td {
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
}

.info-table>tr>th {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
}

.info-table>tr:last-child>td {
  border-radius: 0px 0px 5px 5px;
}

.info-info {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

.key-row {}

.key-style {
  background-color: #ddd;
  font-weight: bold;
  color: #333;
  border-radius: 8px;
  box-shadow: inset 0px 0px 10px 0 rgba(20, 20, 20, 0.5);
  text-shadow: 1px 1px 8px rgba(20, 20, 20, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
}

#instructions {
  border-collapse: separate;
  border-spacing: 10px;
}


#initialInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
















.home-screen {
  width: 100%;
}

.home-screen-title {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-screen-title>img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.rotated {
  transform: rotateY(180deg);
}

.home-screen-footer {
  margin-top: 20px;
}

.home-screen-divider {
  background: #444;
  height: 1px;
}

.rank-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.rank-button:hover {
  background-color: #555;
  cursor: pointer;
}

#about-us-div {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #444;
  color: #aaa;
  padding: 5px;
  border-radius: 5px;
}

a {
  color: #fff;
}

a:visted {
  color: #fff;
}

.leaderboard-modal {
  position: absolute;
  padding: 20px;
  background: #222;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(20, 20, 20, 0.5);

  width: 750px;
  height: 620px;

  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.leaderboard-content {
  overflow: auto;

  /* Hides the scrollbar */
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */

  /* For Webkit browsers like Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }

  height: 560px;
}

#leaderboard-modal-close {
  z-index: 9999999;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 50px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #444;
  box-shadow: 1px 1px 5px 0 rgba(20, 20, 20, 0.5);
  transition: all 0.2s;
  transform: rotate(45deg);
}

#leaderboard-modal-close:hover {
  background: #a00;
  transform: rotate(45deg) scale(1.1);
  transition: all 0.2s;
}

.visible {
  display: block;
}

.leaderboard-entry {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(10, 10, 10, 0.5);
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px 0 rgba(100, 100, 100, 0.5);
  margin-bottom: 40px;
}

.leaderboard-entry-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.leaderboard-entry-info-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.lb-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.lb-value {
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lb-first {
  flex: 4;
}

.lb-other {
  flex: 1;
}

.lb-highlight {
  font-size: 40px;
}

.leaderboard-entry-charts {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.leaderboard-entry-chart {
  display: flex;
  position: relative;
}

.chart-div {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: block;
  position: relative;
}


.chart-wpm:after {
  content: "WPM";
  position: absolute;
  bottom: 0;
  right: 0;
  color: #888;
  font-size: 16px;
  padding: 0px;
  margin-right: 4px;
}

.chart-score:after {
  content: "SCORE";
  position: absolute;
  bottom: 0;
  right: 0;
  color: #888;
  font-size: 16px;
  padding: 0px;
  margin-right: 4px;
}

#leaderboard-modal-title {
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(20, 20, 20, 0.5);
  margin-bottom: 10px;
}
